<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/vendor/tailwind.css" rel="stylesheet" />
    
    <title>Chat</title>
</head>

<body>
    <div class="py-5 flex bg-gray-900 h-screen">
        <div class="flex flex-col ">
            <div class="ml-5 rounded-full h-50 p-5 w-50  bg-gray-400">
                <%= user.username %>
            </div>
            <div class=" hover:bg-white mt-3 ml-5 rounded-lg h-50 w-50 p-3  bg-gray-400">
                <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
            </div>
    
        </div>
        <div class="flex flex-grow flex-col bg-gray-600 h-full mx-5 rounded-lg w-50 p-5 h-full">
            <div class="flex flex-grow bg-gray-100 rounded-lg h-3/6 p-5">
                dsada
            </div>
            <div class="flex bg-gray-600 rounded-lg">
                
                <input 
                    type="text"
                    class="mt-2 block border border-gray-100 w-full p-3 rounded mb-4 focus:outline-none focus:ring-1 focus:ring-blue-200"
                    name="email"
                    placeholder="Your message" />
            </div>
        </div>

    </div>
    </div>
</body>
<script src="/vendor/socket.io.min.js"></script>
<script>
  var socket = io();
</script>
</html>