<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Login</title>
</head>

<body class="bg-gray-100">
    <div class="bg-grey-lighter min-h-screen flex flex-col">
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded-lg shadow-md text-black w-full">
                <h1 class="mb-8 text-3xl text-center">Login</h1>

                <form class="flex flex-col" action="/api/login" method="POST">
                    <input type="text"
                        class="block border border-grey-light w-full p-3 rounded mb-4 focus:outline-none focus:ring-1 focus:ring-blue-200"
                        name="username" placeholder="Username" />

                    <input type="password"
                        class="block border border-grey-light w-full p-3 rounded mb-4 focus:outline-none focus:ring-1 focus:ring-blue-200"
                        name="password" placeholder="Password" />

                    <button type="submit"
                        class="w-full text-center py-3 rounded bg-green-700 text-white hover:bg-green-800 focus:outline-none my-1">Login
                        here
                    </button>
                </form>
            </div>

            <div class="text-grey-dark mt-6">
                Don't have an account?
                <a class="no-underline border-b border-blue text-green-500 ml-2" href="/register">
                    Sign up
                </a>.
            </div>
        </div>
    </div>
</body>

</html>